<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ctg.itrdc.account.balance.repository.IAcctBalanceMapper" >
   <resultMap id="BaseResultMap" type="com.ctg.itrdc.account.balance.model.AcctBalanceModel" >
    <id column="ACCT_BALANCE_ID" property="acctBalanceId" jdbcType="BIGINT" />
    <result column="BALANCE_TYPE_ID" property="balanceTypeId" jdbcType="BIGINT" />
    <result column="PAYMENT_RULE_ID" property="paymentRuleId" jdbcType="BIGINT" />
    <result column="SUB_ACCT_ID" property="subAcctId" jdbcType="BIGINT" />
    <result column="ACCT_ID" property="acctId" jdbcType="BIGINT" />
    <result column="EFF_DATE" property="effDate" jdbcType="TIMESTAMP" />
    <result column="EXP_DATE" property="expDate" jdbcType="TIMESTAMP" />
    <result column="BALANCE" property="balance" jdbcType="BIGINT" />
    <result column="RESERVE_BALANCE" property="reserveBalance" jdbcType="BIGINT" />
    <result column="CYCLE_UPPER" property="cycleUpper" jdbcType="BIGINT" />
    <result column="CYCLE_LOWER" property="cycleLower" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="STATUS_CD" property="statusCd" jdbcType="VARCHAR" />
    <result column="STATUS_DATE" property="statusDate" jdbcType="TIMESTAMP" />
    <result column="CYCLE_TYPE" property="cycleType" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="NEED_INVOICE_AMOUNT" property="needInvoiceAmount" jdbcType="BIGINT" />
    <result column="SLICE_KEY" property="sliceKey" jdbcType="BIGINT" />
  </resultMap>
   <resultMap id="BaseResultMap2" type="com.ctg.itrdc.account.balance.model.AcctBalanceModel" >
    <id column="ACCT_BALANCE_ID" property="acctBalanceId" jdbcType="BIGINT" />
    <result column="BALANCE_TYPE_ID" property="balanceTypeId" jdbcType="BIGINT" />
    <result column="ACCT_ID" property="acctId" jdbcType="BIGINT" />
    <result column="EFF_DATE" property="effDate" jdbcType="TIMESTAMP" />
    <result column="EXP_DATE" property="expDate" jdbcType="TIMESTAMP" />
    <result column="BALANCE" property="balance" jdbcType="BIGINT" />
    <result column="CYCLE_UPPER" property="cycleUpper" jdbcType="BIGINT" />
    <result column="CYCLE_LOWER" property="cycleLower" jdbcType="BIGINT" />
    <result column="SLICE_KEY" property="sliceKey" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="BalanceSourceMap" type="com.ctg.itrdc.account.balance.model.BalanceSourceModel" >
    <id column="OPER_INCOME_ID" property="operIncomeId" jdbcType="BIGINT" />
    <result column="ACCT_BALANCE_ID" property="acctBalanceId" jdbcType="BIGINT" />
    <result column="OPER_TYPE" property="operType" jdbcType="VARCHAR" />
    <result column="STAFF_ID" property="staffId" jdbcType="VARCHAR" />
    <result column="OPER_DATE" property="operDate" jdbcType="TIMESTAMP" />
    <result column="AMOUNT" property="amount" jdbcType="BIGINT" />
    <result column="CUR_AMOUNT" property="curAmount" jdbcType="BIGINT" />
    <result column="BALANCE_RELATION_ID" property="balanceRelationId" jdbcType="BIGINT" />
    <result column="BALANCE_SOURCE_TYPE_ID" property="balanceSourceTypeId" jdbcType="BIGINT" />
    <result column="CUR_STATUS_DATE" property="curStatusDate" jdbcType="TIMESTAMP" />
    <result column="STATUS_CD" property="statusCd" jdbcType="VARCHAR" />
    <result column="STATUS_DATE" property="statusDate" jdbcType="TIMESTAMP" />
    <result column="PAYMENT_ID" property="paymentId" jdbcType="BIGINT" />
    <result column="SOURCE_DESC" property="sourceDesc" jdbcType="VARCHAR" />
    <result column="INV_OFFER" property="invOffer" jdbcType="BIGINT" />
    <result column="ALLOW_DRAW" property="allowDraw" jdbcType="BIGINT" />
    <result column="CUR_STATUS" property="curStatus" jdbcType="VARCHAR" />
    <result column="SLICE_KEY" property="sliceKey" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="BalanceRelationMap" type="com.ctg.itrdc.account.balance.model.BalanceRelationModel" >
    <id column="BALANCE_RELATION_ID" property="balanceRelationId" jdbcType="BIGINT" />
    <result column="ACCT_BALANCE_ID" property="acctBalanceId" jdbcType="BIGINT" />
    <result column="OBJECT_TYPE" property="objectType" jdbcType="VARCHAR" />
    <result column="OBJECT_ID" property="objectId" jdbcType="BIGINT" />
    <result column="SLICE_KEY" property="sliceKey" jdbcType="BIGINT" />
  </resultMap>
  
  
  
   <sql id="Base_Column_List" >
    ACCT_BALANCE_ID, BALANCE_TYPE_ID, PAYMENT_RULE_ID, SUB_ACCT_ID, ACCT_ID, EFF_DATE, 
    EXP_DATE, BALANCE, RESERVE_BALANCE, CYCLE_UPPER, CYCLE_LOWER, CREATE_DATE, STATUS_CD, 
    STATUS_DATE, CYCLE_TYPE, REMARK, NEED_INVOICE_AMOUNT, SLICE_KEY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap2" parameterType="com.ctg.itrdc.account.balance.model.AcctBalanceModel" >
    select 
    <include refid="Base_Column_List" />
    from acct_balance_mod
    where
     ACCT_BALANCE_ID = #{acctBalanceId,jdbcType=BIGINT}
     <if test="sliceKey != null">
    and SLICE_KEY=#{sliceKey,jdbcType=BIGINT}
     </if>
     <if test="subAcctId != null">
    and SUB_ACCT_ID=#{subAcctId,jdbcType=BIGINT}
     </if>
  </select>
  <select id="selectBalanceByAcct" resultMap="BaseResultMap" parameterType="com.ctg.itrdc.account.balance.model.AcctBalanceModel" >
  	select 
    <include refid="Base_Column_List" />
    from acct_balance_mod
    where 1=1
    <if test="subAcctId != null" >
      and  SUB_ACCT_ID=#{subAcctId,jdbcType=BIGINT}
      and SLICE_KEY=#{subAcctId,jdbcType=BIGINT}
    </if>
    <if test="acctId != null" >
    	and ACCT_BALANCE_ID in (
    	select ACCT_BALANCE_ID from balance_share_rule_mod
    	where OBJECT_TYPE=0
    	 and OBJECT_ID=#{acctId,jdbcType=BIGINT}
    	 and SLICE_KEY=#{acctId,jdbcType=BIGINT}
    	)
    	and SLICE_KEY =ACCT_BALANCE_ID
    </if>
    
     
  </select>
   <insert id="insert" parameterType="com.ctg.itrdc.account.balance.model.AcctBalanceModel" >
    insert into acct_balance_mod (ACCT_BALANCE_ID, BALANCE_TYPE_ID, PAYMENT_RULE_ID, 
      SUB_ACCT_ID, ACCT_ID, EFF_DATE, 
      EXP_DATE, BALANCE, RESERVE_BALANCE, 
      CYCLE_UPPER, CYCLE_LOWER, CREATE_DATE, 
      STATUS_CD, STATUS_DATE, CYCLE_TYPE, 
      REMARK, NEED_INVOICE_AMOUNT, SLICE_KEY
      )
    values (#{acctBalanceId,jdbcType=BIGINT}, #{balanceTypeId,jdbcType=BIGINT}, #{paymentRuleId,jdbcType=BIGINT}, 
      #{subAcctId,jdbcType=BIGINT}, #{acctId,jdbcType=BIGINT}, #{effDate,jdbcType=TIMESTAMP}, 
      #{expDate,jdbcType=TIMESTAMP}, #{balance,jdbcType=BIGINT}, #{reserveBalance,jdbcType=BIGINT}, 
      #{cycleUpper,jdbcType=BIGINT}, #{cycleLower,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{statusCd,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, #{cycleType,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{needInvoiceAmount,jdbcType=BIGINT}, #{sliceKey,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ctg.itrdc.account.balance.model.AcctBalanceModel" >
    insert into acct_balance_mod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acctBalanceId != null" >
        ACCT_BALANCE_ID,
      </if>
      <if test="balanceTypeId != null" >
        BALANCE_TYPE_ID,
      </if>
      <if test="paymentRuleId != null" >
        PAYMENT_RULE_ID,
      </if>
      <if test="subAcctId != null" >
        SUB_ACCT_ID,
      </if>
      <if test="acctId != null" >
        ACCT_ID,
      </if>
      <if test="effDate != null" >
        EFF_DATE,
      </if>
      <if test="expDate != null" >
        EXP_DATE,
      </if>
      <if test="balance != null" >
        BALANCE,
      </if>
      <if test="reserveBalance != null" >
        RESERVE_BALANCE,
      </if>
      <if test="cycleUpper != null" >
        CYCLE_UPPER,
      </if>
      <if test="cycleLower != null" >
        CYCLE_LOWER,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="statusCd != null" >
        STATUS_CD,
      </if>
      <if test="statusDate != null" >
        STATUS_DATE,
      </if>
      <if test="cycleType != null" >
        CYCLE_TYPE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="needInvoiceAmount != null" >
        NEED_INVOICE_AMOUNT,
      </if>
      <if test="sliceKey != null" >
        SLICE_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acctBalanceId != null" >
        #{acctBalanceId,jdbcType=BIGINT},
      </if>
      <if test="balanceTypeId != null" >
        #{balanceTypeId,jdbcType=BIGINT},
      </if>
      <if test="paymentRuleId != null" >
        #{paymentRuleId,jdbcType=BIGINT},
      </if>
      <if test="subAcctId != null" >
        #{subAcctId,jdbcType=BIGINT},
      </if>
      <if test="acctId != null" >
        #{acctId,jdbcType=BIGINT},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=BIGINT},
      </if>
      <if test="reserveBalance != null" >
        #{reserveBalance,jdbcType=BIGINT},
      </if>
      <if test="cycleUpper != null" >
        #{cycleUpper,jdbcType=BIGINT},
      </if>
      <if test="cycleLower != null" >
        #{cycleLower,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null" >
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null" >
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cycleType != null" >
        #{cycleType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="needInvoiceAmount != null" >
        #{needInvoiceAmount,jdbcType=BIGINT},
      </if>
      <if test="sliceKey != null" >
        #{sliceKey,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
   
   <update id="updateByPrimaryKeySelective" parameterType="com.ctg.itrdc.account.balance.model.AcctBalanceModel" >
    update acct_balance_mod
    <set >
      <if test="balanceTypeId != null" >
        BALANCE_TYPE_ID = #{balanceTypeId,jdbcType=BIGINT},
      </if>
      <if test="paymentRuleId != null" >
        PAYMENT_RULE_ID = #{paymentRuleId,jdbcType=BIGINT},
      </if>
      <if test="subAcctId != null" >
        SUB_ACCT_ID = #{subAcctId,jdbcType=BIGINT},
      </if>
      <!-- <if test="acctId != null" >
        ACCT_ID = #{acctId,jdbcType=BIGINT},
      </if> -->
      <if test="effDate != null" >
        EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        BALANCE = #{balance,jdbcType=BIGINT},
      </if>
      <if test="reserveBalance != null" >
        RESERVE_BALANCE = #{reserveBalance,jdbcType=BIGINT},
      </if>
      <if test="cycleUpper != null" >
        CYCLE_UPPER = #{cycleUpper,jdbcType=BIGINT},
      </if>
      <if test="cycleLower != null" >
        CYCLE_LOWER = #{cycleLower,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null" >
        STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null" >
        STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cycleType != null" >
        CYCLE_TYPE = #{cycleType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="needInvoiceAmount != null" >
        NEED_INVOICE_AMOUNT = #{needInvoiceAmount,jdbcType=BIGINT},
      </if>
      <!-- <if test="sliceKey != null" >
        SLICE_KEY = #{sliceKey,jdbcType=BIGINT},
      </if> -->
    </set>
    where ACCT_BALANCE_ID = #{acctBalanceId,jdbcType=BIGINT}
    <if test="acctId != null">
    and ACCT_ID=#{acctId,jdbcType=BIGINT}
    </if>
    <if test="sliceKey != null">
    AND SLICE_KEY = #{sliceKey,jdbcType=BIGINT}
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ctg.itrdc.account.balance.model.AcctBalanceModel" >
    update acct_balance_mod
    set BALANCE_TYPE_ID = #{balanceTypeId,jdbcType=BIGINT},
      PAYMENT_RULE_ID = #{paymentRuleId,jdbcType=BIGINT},
      SUB_ACCT_ID = #{subAcctId,jdbcType=BIGINT},
      ACCT_ID = #{acctId,jdbcType=BIGINT},
      EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      BALANCE = #{balance,jdbcType=BIGINT},
      RESERVE_BALANCE = #{reserveBalance,jdbcType=BIGINT},
      CYCLE_UPPER = #{cycleUpper,jdbcType=BIGINT},
      CYCLE_LOWER = #{cycleLower,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      CYCLE_TYPE = #{cycleType,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      NEED_INVOICE_AMOUNT = #{needInvoiceAmount,jdbcType=BIGINT},
      SLICE_KEY = #{sliceKey,jdbcType=BIGINT}
    where ACCT_BALANCE_ID = #{acctBalanceId,jdbcType=BIGINT}
  </update>
   <select id="selectAcctBalance" parameterType="map">
   	select count(*) FROM acct_balance_mod WHERE ACCT_BALANCE_ID=#{ACCT_BALANCE_ID,jdbcType=DECIMAL} 
   	AND SLICE_KEY=#{SLICE_KEY,jdbcType=DECIMAL} 
   </select>
   <update id="updateBalance" parameterType="map">
   	update acct_balance_mod 
   	set BALANCE = BALANCE+#{BALANCE,jdbcType=BIGINT}
   	where ACCT_BALANCE_ID = #{ACCT_BALANCE_ID,jdbcType=BIGINT}
   	and SLICE_KEY = #{SLICE_KEY,jdbcType=BIGINT}
   </update>
   <select id="selectAcctBalanceId" parameterType="com.ctg.itrdc.account.balance.model.AcctBalanceModel" resultType="java.lang.Long">
   	select ACCT_BALANCE_ID from acct_balance_mod 
   	where ACCT_ID = #{acctId,jdbcType=BIGINT} 
   	and SUB_ACCT_ID = #{subAcctId,jdbcType=BIGINT}
   	and SLICE_KEY = #{subAcctId,jdbcType=BIGINT}
   
   </select>
   <delete id="deleteAcctBalanceById" parameterType="com.ctg.itrdc.account.balance.model.AcctBalanceModel">
   	delete from acct_balance_mod where 
   	ACCT_BALANCE_ID = #{acctBalanceId,jdbcType=BIGINT}
   	and SLICE_KEY = #{sliceKey,jdbcType=BIGINT}
   </delete>
   
  <!--  余额来源记录 -->
   <insert id="insertSourceSelective" parameterType="com.ctg.itrdc.account.balance.model.BalanceSourceModel"  useGeneratedKeys="true" keyProperty="operIncomeId">
    insert into balance_source_mod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operIncomeId != null" >
        OPER_INCOME_ID,
      </if>
      <if test="acctBalanceId != null" >
        ACCT_BALANCE_ID,
      </if>
      <if test="operType != null" >
        OPER_TYPE,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="operDate != null" >
        OPER_DATE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="curAmount != null" >
        CUR_AMOUNT,
      </if>
      <if test="balanceRelationId != null" >
        BALANCE_RELATION_ID,
      </if>
      <if test="balanceSourceTypeId != null" >
        BALANCE_SOURCE_TYPE_ID,
      </if>
      <if test="curStatusDate != null" >
        CUR_STATUS_DATE,
      </if>
      <if test="statusCd != null" >
        STATUS_CD,
      </if>
      <if test="statusDate != null" >
        STATUS_DATE,
      </if>
      <if test="paymentId != null" >
        PAYMENT_ID,
      </if>
      <if test="sourceDesc != null" >
        SOURCE_DESC,
      </if>
      <if test="invOffer != null" >
        INV_OFFER,
      </if>
      <if test="allowDraw != null" >
        ALLOW_DRAW,
      </if>
      <if test="curStatus != null" >
        CUR_STATUS,
      </if>
      <if test="sliceKey != null" >
        SLICE_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operIncomeId != null" >
        #{operIncomeId,jdbcType=BIGINT},
      </if>
      <if test="acctBalanceId != null" >
        #{acctBalanceId,jdbcType=BIGINT},
      </if>
      <if test="operType != null" >
        #{operType,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="operDate != null" >
        #{operDate,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="curAmount != null" >
        #{curAmount,jdbcType=BIGINT},
      </if>
      <if test="balanceRelationId != null" >
        #{balanceRelationId,jdbcType=BIGINT},
      </if>
      <if test="balanceSourceTypeId != null" >
        #{balanceSourceTypeId,jdbcType=BIGINT},
      </if>
      <if test="curStatusDate != null" >
        #{curStatusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null" >
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null" >
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentId != null" >
        #{paymentId,jdbcType=BIGINT},
      </if>
      <if test="sourceDesc != null" >
        #{sourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="invOffer != null" >
        #{invOffer,jdbcType=BIGINT},
      </if>
      <if test="allowDraw != null" >
        #{allowDraw,jdbcType=BIGINT},
      </if>
      <if test="curStatus != null" >
        #{curStatus,jdbcType=VARCHAR},
      </if>
      <if test="sliceKey != null" >
        #{sliceKey,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
   <insert id="insertRelation" parameterType="com.ctg.itrdc.account.balance.model.BalanceRelationModel" useGeneratedKeys="true" keyProperty="balanceRelationId">
    insert into balance_relation_mod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="balanceRelationId != null" >
        BALANCE_RELATION_ID,
      </if>
      <if test="acctBalanceId != null" >
        ACCT_BALANCE_ID,
      </if>
      <if test="objectType != null" >
        OBJECT_TYPE,
      </if>
      <if test="objectId != null" >
        OBJECT_ID,
      </if>
      <if test="sliceKey != null" >
        SLICE_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="balanceRelationId != null" >
        #{balanceRelationId,jdbcType=BIGINT},
      </if>
      <if test="acctBalanceId != null" >
        #{acctBalanceId,jdbcType=BIGINT},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="sliceKey != null" >
        #{sliceKey,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
   <select id="selectRelationId" parameterType="com.ctg.itrdc.account.balance.model.BalanceRelationModel" resultType="java.lang.Long">
	select BALANCE_RELATION_ID
	from balance_relation_mod
	where
	ACCT_BALANCE_ID=#{acctBalanceId,jdbcType=BIGINT}
	and OBJECT_TYPE=#{objectType,jdbcType=VARCHAR}
	and OBJECT_ID=#{objectId,jdbcType=BIGINT}
	and SLICE_KEY=#{sliceKey,jdbcType=BIGINT}
   </select>
   
   <select id="selectByAcctId" parameterType="java.util.Map" resultMap="BaseResultMap">
   		select 
	    <include refid="Base_Column_List" />
	    from acct_balance_mod
	    where SUB_ACCT_ID=#{acctId,jdbcType=BIGINT}
	    <if test="sliceKey != null" >
	      and SLICE_KEY=#{sliceKey,jdbcType=BIGINT}
	    </if>
	    <if test="balanceTypeId != null" >
	      and BALANCE_TYPE_ID=#{balanceTypeId,jdbcType=BIGINT}
	    </if>
	    <if test="objectType != null and objectId != null">
		    and ACCT_BALANCE_ID in(
		    	select ACCT_BALANCE_ID from balance_share_rule_mod
		    	where OBJECT_TYPE=#{objectType,jdbcType=BIGINT}
		    	 and OBJECT_ID=#{objectId,jdbcType=BIGINT}
		    	 <if test="sliceKey != null" >
			      and SLICE_KEY=#{sliceKey,jdbcType=BIGINT}
			     </if>
		    )
	    </if>
   </select>
</mapper>