<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ctg.itrdc.account.balance.repository.IBalanceShareRuleMapper" >
   <resultMap id="BaseResultMap" type="com.ctg.itrdc.account.balance.model.BalanceShareRuleModel" >
    <id column="SHARE_RULE_ID" property="shareRuleId" jdbcType="BIGINT" />
    <result column="ACCT_BALANCE_ID" property="acctBalanceId" jdbcType="BIGINT" />
    <result column="SHARE_RULE_TYPE_ID" property="shareRuleTypeId" jdbcType="BIGINT" />
    <result column="OBJECT_TYPE" property="objectType" jdbcType="VARCHAR" />
    <result column="OBJECT_ID" property="objectId" jdbcType="BIGINT" />
    <result column="SHARE_RULE_TYPE_PRI" property="shareRuleTypePri" jdbcType="BIGINT" />
    <result column="UPPER_AMOUNT" property="upperAmount" jdbcType="BIGINT" />
    <result column="LOWER_AMOUNT" property="lowerAmount" jdbcType="BIGINT" />
    <result column="EFF_DATE" property="effDate" jdbcType="TIMESTAMP" />
    <result column="EXP_DATE" property="expDate" jdbcType="TIMESTAMP" />
    <result column="STATUS_CD" property="statusCd" jdbcType="VARCHAR" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="VARCHAR" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="STATUS_DATE" property="statusDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="SLICE_KEY" property="sliceKey" jdbcType="BIGINT" />
  </resultMap>
   <sql id="Base_Column_List" >
    SHARE_RULE_ID, ACCT_BALANCE_ID, SHARE_RULE_TYPE_ID, OBJECT_TYPE, OBJECT_ID, SHARE_RULE_TYPE_PRI, 
    UPPER_AMOUNT, LOWER_AMOUNT, EFF_DATE, EXP_DATE, STATUS_CD, CREATE_STAFF, UPDATE_STAFF, 
    CREATE_DATE, STATUS_DATE, UPDATE_DATE, SLICE_KEY
  </sql>
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from balance_share_rule_mod
    where SHARE_RULE_ID = #{shareRuleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from balance_share_rule_mod
    where SHARE_RULE_ID = #{shareRuleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ctg.itrdc.account.balance.model.BalanceShareRuleModel" >
    insert into balance_share_rule_mod (SHARE_RULE_ID, ACCT_BALANCE_ID, SHARE_RULE_TYPE_ID, 
      OBJECT_TYPE, OBJECT_ID, SHARE_RULE_TYPE_PRI, 
      UPPER_AMOUNT, LOWER_AMOUNT, EFF_DATE, 
      EXP_DATE, STATUS_CD, CREATE_STAFF, 
      UPDATE_STAFF, CREATE_DATE, STATUS_DATE, 
      UPDATE_DATE, SLICE_KEY)
    values (#{shareRuleId,jdbcType=BIGINT}, #{acctBalanceId,jdbcType=BIGINT}, #{shareRuleTypeId,jdbcType=BIGINT}, 
      #{objectType,jdbcType=VARCHAR}, #{objectId,jdbcType=BIGINT}, #{shareRuleTypePri,jdbcType=BIGINT}, 
      #{upperAmount,jdbcType=BIGINT}, #{lowerAmount,jdbcType=BIGINT}, #{effDate,jdbcType=TIMESTAMP}, 
      #{expDate,jdbcType=TIMESTAMP}, #{statusCd,jdbcType=VARCHAR}, #{createStaff,jdbcType=VARCHAR}, 
      #{updateStaff,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{sliceKey,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ctg.itrdc.account.balance.model.BalanceShareRuleModel" >
    insert into balance_share_rule_mod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shareRuleId != null" >
        SHARE_RULE_ID,
      </if>
      <if test="acctBalanceId != null" >
        ACCT_BALANCE_ID,
      </if>
      <if test="shareRuleTypeId != null" >
        SHARE_RULE_TYPE_ID,
      </if>
      <if test="objectType != null" >
        OBJECT_TYPE,
      </if>
      <if test="objectId != null" >
        OBJECT_ID,
      </if>
      <if test="shareRuleTypePri != null" >
        SHARE_RULE_TYPE_PRI,
      </if>
      <if test="upperAmount != null" >
        UPPER_AMOUNT,
      </if>
      <if test="lowerAmount != null" >
        LOWER_AMOUNT,
      </if>
      <if test="effDate != null" >
        EFF_DATE,
      </if>
      <if test="expDate != null" >
        EXP_DATE,
      </if>
      <if test="statusCd != null" >
        STATUS_CD,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="statusDate != null" >
        STATUS_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="sliceKey != null" >
        SLICE_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shareRuleId != null" >
        #{shareRuleId,jdbcType=BIGINT},
      </if>
      <if test="acctBalanceId != null" >
        #{acctBalanceId,jdbcType=BIGINT},
      </if>
      <if test="shareRuleTypeId != null" >
        #{shareRuleTypeId,jdbcType=BIGINT},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=BIGINT},
      </if>
      <if test="shareRuleTypePri != null" >
        #{shareRuleTypePri,jdbcType=BIGINT},
      </if>
      <if test="upperAmount != null" >
        #{upperAmount,jdbcType=BIGINT},
      </if>
      <if test="lowerAmount != null" >
        #{lowerAmount,jdbcType=BIGINT},
      </if>
      <if test="effDate != null" >
        #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null" >
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=VARCHAR},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null" >
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sliceKey != null" >
        #{sliceKey,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ctg.itrdc.account.balance.model.BalanceShareRuleModel" >
    update balance_share_rule_mod
    <set >
      <if test="acctBalanceId != null" >
        ACCT_BALANCE_ID = #{acctBalanceId,jdbcType=BIGINT},
      </if>
      <if test="shareRuleTypeId != null" >
        SHARE_RULE_TYPE_ID = #{shareRuleTypeId,jdbcType=BIGINT},
      </if>
      <if test="objectType != null" >
        OBJECT_TYPE = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectId != null" >
        OBJECT_ID = #{objectId,jdbcType=BIGINT},
      </if>
      <if test="shareRuleTypePri != null" >
        SHARE_RULE_TYPE_PRI = #{shareRuleTypePri,jdbcType=BIGINT},
      </if>
      <if test="upperAmount != null" >
        UPPER_AMOUNT = #{upperAmount,jdbcType=BIGINT},
      </if>
      <if test="lowerAmount != null" >
        LOWER_AMOUNT = #{lowerAmount,jdbcType=BIGINT},
      </if>
      <if test="effDate != null" >
        EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null" >
        EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null" >
        STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF = #{createStaff,jdbcType=VARCHAR},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null" >
        STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sliceKey != null" >
        SLICE_KEY = #{sliceKey,jdbcType=BIGINT},
      </if>
    </set>
    where SHARE_RULE_ID = #{shareRuleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ctg.itrdc.account.balance.model.BalanceShareRuleModel" >
    update balance_share_rule_mod
    set ACCT_BALANCE_ID = #{acctBalanceId,jdbcType=BIGINT},
      SHARE_RULE_TYPE_ID = #{shareRuleTypeId,jdbcType=BIGINT},
      OBJECT_TYPE = #{objectType,jdbcType=VARCHAR},
      OBJECT_ID = #{objectId,jdbcType=BIGINT},
      SHARE_RULE_TYPE_PRI = #{shareRuleTypePri,jdbcType=BIGINT},
      UPPER_AMOUNT = #{upperAmount,jdbcType=BIGINT},
      LOWER_AMOUNT = #{lowerAmount,jdbcType=BIGINT},
      EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      CREATE_STAFF = #{createStaff,jdbcType=VARCHAR},
      UPDATE_STAFF = #{updateStaff,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      SLICE_KEY = #{sliceKey,jdbcType=BIGINT}
    where SHARE_RULE_ID = #{shareRuleId,jdbcType=BIGINT}
  </update>
  <select id="selectRuleByObjectId" parameterType="java.lang.Long" resultType="java.lang.Integer">
  	select count(*) from balance_share_rule_mod
  	where
  	OBJECT_ID=#{objectId,jdbcType=BIGINT}
  </select>
  <select id="selectRuleType" parameterType="map" resultType="map">
  	select ACCT_BALANCE_ID from balance_share_rule_mod
  	where 
  		OBJECT_ID=#{OBJECT_ID,jdbcType=BIGINT}
  	and OBJECT_TYPE = #{OBJECT_TYPE,jdbcType=VARCHAR}
  </select>
</mapper>