<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ctg.itrdc.account.balance.repository.IBalanceSourceMapper">
	<resultMap type="com.ctg.itrdc.account.balance.model.BalanceSourceModel" id="BaseResultMap">
		<id column="OPER_INCOME_ID" property="operIncomeId" jdbcType="BIGINT"/>
		<result column="ACCT_BALANCE_ID" property="acctBalanceId" jdbcType="BIGINT"/>
		<result column="OPER_TYPE" property="operType" jdbcType="VARCHAR"/>
		<result column="STAFF_ID" property="staffId" jdbcType="VARCHAR"/>
		<result column="OPER_DATE" property="operDate" jdbcType="TIMESTAMP"/>
		<result column="AMOUNT" property="amount" jdbcType="BIGINT"/>
		<result column="CUR_AMOUNT" property="curAmount" jdbcType="BIGINT"/>
		<result column="BALANCE_RELATION_ID" property="balanceRelationId" jdbcType="BIGINT"/>
		<result column="BALANCE_SOURCE_TYPE_ID" property="balanceSourceTypeId" jdbcType="BIGINT"/>
		<result column="CUR_STATUS_DATE" property="curStatusDate" jdbcType="TIMESTAMP"/>
		<result column="STATUS_CD" property="statusCd" jdbcType="VARCHAR"/>
		<result column="STATUS_DATE" property="statusDate" jdbcType="TIMESTAMP"/>
		<result column="PAYMENT_ID" property="paymentId" jdbcType="BIGINT"/>
		<result column="SOURCE_DESC" property="sourceDesc" jdbcType="VARCHAR"/>
		<result column="INV_OFFER" property="invOffer" jdbcType="BIGINT"/>
		<result column="ALLOW_DRAW" property="allowDraw" jdbcType="BIGINT"/>
		<result column="CUR_STATUS" property="curStatus" jdbcType="VARCHAR"/>
		<result column="SLICE_KEY" property="sliceKey" jdbcType="BIGINT"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		OPER_INCOME_ID,ACCT_BALANCE_ID,OPER_TYPE,STAFF_ID,OPER_DATE,AMOUNT,CUR_AMOUNT,BALANCE_RELATION_ID,
		BALANCE_SOURCE_TYPE_ID,CUR_STATUS_DATE,STATUS_CD,STATUS_DATE,PAYMENT_ID,SOURCE_DESC,INV_OFFER,
		ALLOW_DRAW,CUR_STATUS,SLICE_KEY
	</sql>
	<select id="selectByPrimaryKey" parameterType="com.ctg.itrdc.account.balance.model.BalanceSourceModel" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from BALANCE_SOURCE_MOD
		where OPER_INCOME_ID=#{operIncomeId,jdbcType=BIGINT}
		<if test="sliceKey != null">
			and SLICE_KEY=#{sliceKey,jdbcType=BIGINT}
		</if>
	</select>
	<select id="selectByAcctBalanceId" parameterType="com.ctg.itrdc.account.balance.model.BalanceSourceModel" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from BALANCE_SOURCE_MOD
		where ACCT_BALANCE_ID=#{acctBalanceId,jdbcType=BIGINT}
		and CUR_AMOUNT>0
		<if test="sliceKey != null">
			and SLICE_KEY=#{sliceKey,jdbcType=BIGINT}
		</if>
	</select>
	<update id="updateByPrimaryKey" parameterType="com.ctg.itrdc.account.balance.model.BalanceSourceModel">
		update BALANCE_SOURCE_MOD
		<set>
			<if test="operDate != null">
			OPER_DATE=#{operDate,jdbcType=TIMESTAMP},
			</if>
			<if test="curAmount != null">
			CUR_AMOUNT=#{curAmount,jdbcType=BIGINT},
			</if>
		</set>
		where OPER_INCOME_ID=#{operIncomeId,jdbcType=BIGINT}
		<if test="sliceKey != null">
			and SLICE_KEY=#{sliceKey,jdbcType=BIGINT}
		</if> 
	</update>
	<insert id="insert" parameterType="com.ctg.itrdc.account.balance.model.BalanceSourceModel" useGeneratedKeys="true" keyProperty="operIncomeId">
		insert into BALANCE_SOURCE_MOD
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="acctBalanceId != null">ACCT_BALANCE_ID,</if>
			<if test="operType != null">OPER_TYPE,</if>
			<if test="staffId != null">STAFF_ID,</if>
			<if test="operDate != null">OPER_DATE,</if>
			<if test="amount != null">AMOUNT,</if>
			<if test="curAmount != null">CUR_AMOUNT,</if>
			<if test="balanceRelationId != null">BALANCE_RELATION_ID,</if>
			<if test="balanceSourceTypeId != null">BALANCE_SOURCE_TYPE_ID,</if>
			<if test="curStatusDate != null">CUR_STATUS_DATE,</if>
			<if test="statusCd != null">STATUS_CD,</if>
			<if test="statusDate != null">STATUS_DATE,</if>
			<if test="paymentId != null">PAYMENT_ID,</if>
			<if test="sourceDesc != null">SOURCE_DESC,</if>
			<if test="invOffer != null">INV_OFFER,</if>
			<if test="allowDraw != null">ALLOW_DRAW,</if>
			<if test="curStatus != null">CUR_STATUS,</if>
			<if test="sliceKey != null">SLICE_KEY,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="acctBalanceId != null">#{acctBalanceId,jdbcType=BIGINT},</if>
			<if test="operType != null">#{operType,jdbcType=VARCHAR},</if>
			<if test="staffId != null">#{staffId,jdbcType=VARCHAR},</if>
			<if test="operDate != null">#{operDate,jdbcType=TIMESTAMP},</if>
			<if test="amount != null">#{amount,jdbcType=BIGINT},</if>
			<if test="curAmount != null">#{curAmount,jdbcType=BIGINT},</if>
			<if test="balanceRelationId != null">#{balanceRelationId,jdbcType=BIGINT},</if>
			<if test="balanceSourceTypeId != null">#{balanceSourceTypeId,jdbcType=BIGINT},</if>
			<if test="curStatusDate != null">#{curStatusDate,jdbcType=TIMESTAMP},</if>
			<if test="statusCd != null">#{statusCd,jdbcType=VARCHAR},</if>
			<if test="statusDate != null">#{statusDate,jdbcType=TIMESTAMP},</if>
			<if test="paymentId != null">#{paymentId,jdbcType=BIGINT},</if>
			<if test="sourceDesc != null">#{sourceDesc,jdbcType=VARCHAR},</if>
			<if test="invOffer != null">#{invOffer,jdbcType=BIGINT},</if>
			<if test="allowDraw != null">#{allowDraw,jdbcType=BIGINT},</if>
			<if test="curStatus != null">#{curStatus,jdbcType=VARCHAR},</if>
			<if test="sliceKey != null">#{sliceKey,jdbcType=BIGINT},</if>
		</trim>
	</insert>
	
	<select id="selectSourceByAcctBalLog" parameterType="java.util.Map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from BALANCE_SOURCE_MOD
		where ACCT_BALANCE_ID = #{acctBalanceId,jdbcType=BIGINT}
		<if test="sliceKey != null">
			and SLICE_KEY=#{sliceKey,jdbcType=BIGINT}
		</if>
		<if test="rows != null and page != null">
	    	limit #{page,jdbcType=BIGINT},#{rows,jdbcType=BIGINT}
	    </if>
	</select>
	<select id="selectSourceByAcctBalLogTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(OPER_INCOME_ID)
		from BALANCE_SOURCE_MOD
		where ACCT_BALANCE_ID = #{acctBalanceId,jdbcType=BIGINT}
		<if test="sliceKey != null">
			and SLICE_KEY=#{sliceKey,jdbcType=BIGINT}
		</if>
	</select>
</mapper>